{% extends 'layout/layout.twig' %}

{% block content %}
<div class="row">    
    <div class="col-md-12">
        {{ message }}
    </div>
    <div class="col-md-12">
        <a href="{{ url('myeconomic') }}" class="btn btn-default">Back to Dashboard</a>
    </div>
</div>
    
{% endblock %}
