    <div class="nav-profile">
        <div class="thumb">
            <img src="{{ img }}" class="img-circle" alt="" />
            {% if info %}
            <span class="label label-danger label-rounded">{{ info }}</span>
            {% endif %}
        </div>
        <div class="info">
            <a href="/user">{{ name }}</a>
        </div>
        <a href="/user" class="button"><i class="ion-log-out"></i></a>
    </div>
